/* BEGIN WEEK */
.column-header-week {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.day-ddd {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
}

.day-d {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 2px;
  transition: 150ms;
  font-weight: 400;
  opacity: 0.8;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}

.day-d:hover {
  transition: 150ms;
  background: #edeef0;
  border-radius: 50%;
}

.fc-today > span > .column-header-week > .day-d {
  background: #ef6c00;
  border-radius: 50%;
  color: #fff;
}

.fc-today > span > .column-header-week > .day-ddd {
  color: #ef6c00;
}

/* .fc-head .fc-head-container {
  border-bottom: none !important;
} */

.fc-body > tr > td {
  border-top: none !important;
}

.fc-time-grid .fc-slats .fc-minor td {
  border-top: none;
}

.fc-today {
  background: #fff;
}

/* BEGIN HIDE BORDER HEADER WEEK AND DAY */
.fc-timeGridWeek-view > table > .fc-head > tr > .fc-widget-header,
.fc-row.fc-widget-header,
.fc-timeGridWeek-view
  > table
  > .fc-head
  > tr
  > .fc-widget-header
  > div
  > table
  > thead
  > tr
  > th,
.fc-timeGridDay-view > table > .fc-head > tr > td,
.fc-timeGridDay-view > table > .fc-head > tr > td > div,
.fc-timeGridDay-view
  > table
  > .fc-head
  > tr
  > td
  > div
  > table
  > thead
  > tr
  > th {
  border: none !important;
}
/* END HIDE BORDER HEADER WEEK AND DAY */

.fc-timeGridDay-view
  > table
  > .fc-head
  > tr
  > td
  > div
  > table
  > thead
  > tr
  > th:last-child {
  padding-left: 29px;
  display: flex;
}

.fc-divider {
  padding: 0 !important;
  border-top: none;
  border-bottom-width: 2px !important;
}

.fc-axis.fc-time.fc-widget-content {
  text-align: center;
  font-size: 0.78rem;
  color: #555;

  /* display: block; */
}

.fc-axis.fc-widget-content {
  font-size: 0.65rem;
  color: #555;
}

.fc-past > span > .column-header-week > .day-d {
  color: rgba(0, 0, 0, 0.54);
}

.fc-now-indicator.fc-now-indicator-line {
  border-color: #ef6c00 !important;
  background-color: #ef6c00;
  height: 2px;
  margin: 0;
  border: none;
}

.fc-now-indicator.fc-now-indicator-line::before {
  background-color: #ef6c00;
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: -7px;
}

.fc-now-indicator.fc-now-indicator-arrow {
  display: none;
}

.fc-day-header.fc-widget-header > a,
.fc-day-top > a {
  text-decoration: none !important;
}
/* END WEEK */

/* BEGIN MONTH */

.fc-dayGridMonth-view > table > .fc-head > tr > .fc-widget-header {
  border-bottom: none;
}

.fc-day-top {
  padding-top: 7px !important;
  text-align: center;
  font-size: 0.85rem;
}

.fc-day-top > a {
  width: 100%;
}

.fc-day-number {
  margin: 0 auto;
}

.column-header-month {
  padding-top: 7px;
}

.fc-day.fc-widget-content.fc-today {
  background: #fff !important;
}

.fc-day-top.fc-today > a {
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  width: auto;
  background: #ef6c00;
  border-radius: 50%;
  margin: 0 auto;
  color: #fff;
}

.fc-day-top.fc-today {
  display: flex;
  justify-content: center;
}

.fc-day-grid-event {
  padding: 1px 4px;
  border-radius: 4px;
  border: none;
}

.fc-head-container.fc-widget-header,
.fc-body > tr > td {
  border: none !important;
}

.fc-view-container {
  /* border: solid 1px #ccc; */
  border-radius: 10px;
  background: #fff;
  /* box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2); */
}

/* fc-view fc-timeGridWeek-view fc-timeGrid-view */
.fc-timeGridDay-view,
.fc-timeGridWeek-view {
  padding-top: 10px !important;
  padding-left: 10px;
}
/* END MONTH */

/* BEGIN TOOLBAR */

.fc-left,
.fc-right,
.fc-center {
  min-width: 200px;
}

.fc-center::first-letter {
  text-transform: uppercase;
}

.fc-button .fc-icon {
  font-size: 1.4rem;
}
/* END TOOLBAR */

/* BEGIN TOOLBAR */
.fc-toolbar {
  height: 70px;
  margin: 0 !important;
}

.fc-left .fc-button:focus,
.fc-right .fc-button:focus {
  box-shadow: none !important;
  background: #cecece;
  color: #444;
  transition: 150ms;
}

.fc-left .fc-button,
.fc-right .fc-button {
  height: 30px;
  border: hidden;
  margin-left: 12px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.2px;
  transition: 150ms;
  color: #222;
  background: #dedede;
  padding: 0 14px;
}
.fc-left .fc-button:hover,
.fc-right .fc-button:hover {
  background: #ccc;
  transition: 150ms;
}

.fc-left > .fc-button-group > .fc-button {
  height: 30px;
  width: 30px;
  padding: 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #444;
  border: none;
}

.fc-left > .fc-button-group > .fc-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  border-radius: 50% !important;
}

.fc-left > .fc-button-group {
  margin: auto 0 auto 10px;
}

.fc-left > .fc-button-group > .fc-button:focus {
  box-shadow: none;
}

.fc-prev-button.fc-button.fc-button-primary {
  margin-left: 5px;
}
.fc-next-button.fc-button.fc-button-primary {
  margin-left: 10px;
}

.fc-center h2 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.fc-right > .fc-button.fc-button-active {
  background: #c1c1c1;
  border: none;
  color: #000;
}

.fc-icon-left-arrow {
  background-image: url('../assets/images/arrow_left.svg');
}

.fc-icon-right-arrow {
  content: url('../assets/images/arrow_right.svg');
}
/* END TOOLBAR */

.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: none !important;
}
